/* Google Fonts: Noto Sans JP の適用 */
body,
input,
textarea {
  font-family: "Noto Sans JP", sans-serif;
}

/* モーダルのスタイル */
#previewModal {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

#previewModal .modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

#previewModal h4 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #424242;
}

/* タイトルを少し大きくする */
.preview-item-title {
  font-size: 20px;
  font-weight: 100;
  color: #424242;
  margin-bottom: 5px;
  display: block;
}

/* 内容の文字色を薄くする */
.preview-item-content {
  white-space: pre-wrap;
  color: #757575; /* 薄いグレー */
  font-size: 16px;
  margin-bottom: 15px;
}

/* モーダルフッターのスタイル */
#previewModal .modal-footer {
  background-color: #fafafa;
  border-top: 1px solid #eeeeee;
  padding: 10px;
}

/* モーダルの幅と高さを調整 */
#previewModal {
  width: 60%;
  max-height: 90%;
}

/* 画面幅が768px以下の場合にモーダルの大きさを変える */
@media (max-width: 860px) {
  #previewModal {
    width: 80%; /* モーダルの幅を80%に拡大 */
  }
}

/* 画面幅が480px以下の場合にさらにモーダルを大きく */
@media (max-width: 480px) {
  #previewModal {
    width: 90%; /* モーダルの幅を90%に拡大 */
  }
  h4 {
    font-size: 22px; /* 画面幅が480px以下のときにタイトルサイズを小さく */
  }
}
